label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
    
}

Input{
    background: #F1EDEE;
    border-radius: 15px;
    height: 50px;
    width: 475px;
    margin-top: 1em;
}

.error-message{
    color: red;
    font: 400 14px "Noto Sans", sans-serif;
}

select {
    background: #F1EDEE;
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 36vw;
    margin-top: 1em;
}
